.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

a {
    color: black;
}

.container {
    background-color: #f4abdb;
    border-radius: 1.5rem;
}