<div class="container">
    <h1>Mitt ramschema</h1>
    <p class="info">Skrolla i sidleds för att se hela tabellen.</p>
</div>

<div class="container">
    <div class="res-table">
        <table mat-table [dataSource]="savedCourse">

            <ng-container matColumnDef="courseCode">
                <th mat-header-cell *matHeaderCellDef>Kurskod
                </th>
                <td mat-cell *matCellDef="let course"> {{ course.courseCode }}</td>
            </ng-container>

            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>Kursnamn
                </th>
                <td mat-cell *matCellDef="let course"> {{ course.courseName }}</td>
            </ng-container>

            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef>Poäng</th>
                <td mat-cell *matCellDef="let course"> {{ course.points }}</td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef>Ämne</th>
                <td mat-cell *matCellDef="let course"> {{ course.subject }}</td>
            </ng-container>

            <ng-container matColumnDef="syllabus">
                <th mat-header-cell *matHeaderCellDef>Kursplan</th>
                <td mat-cell *matCellDef="let course"> <a href=`course.points`>Kursplan</a></td>
            </ng-container>

            <!-- Delete from individual schedule -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Ta bort</th>
                <td mat-cell *matCellDef="let row"><button (click)="deleteButton(row)">Ta bort</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr *matNoDataRow>
                <td colspan="3">
                    <div class="container">
                        Ditt ramschema är tomt...
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container">
    <p>Det finns {{ courseAmount }} {{ courseText }} i tabellen.</p>
    <p>Totalt antal poäng: {{ points }} hp</p>
</div>