<div class="container">
    <table mat-table [dataSource]="courseList">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Namn</th>
            <td mat-cell *matCellDef="let course"> {{ course.name }}</td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef>Poäng</th>
            <td mat-cell *matCellDef="let course"> {{ course.points }}</td>
        </ng-container>

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef>Ämne</th>
            <td mat-cell *matCellDef="let course"> {{ course.subject }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
</div>