.flex {
    display: flex;
    flex-direction: column;
}

.even-columns {
    display: grid;
    gap: 2em;

    @media screen and (min-width: 45em) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}